:root {
  // Blue Colors
  --color-blue-50: #ECF1FF;
  --color-blue-100: #DDE5FF;
  --color-blue-200: #C2CEFF;
  --color-blue-300: #9CADFF;
  --color-blue-500: #5556FF;
  --color-blue-700: #3929D9;
  --color-blue-900: #2A2689;

  // Gray Colors
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F4F4F5;
}