.home{
  padding: 0 16rem;
  margin-top: 4.8rem;

  @media (width <= 1060px){
    padding: 0 8rem;
  }

  @media (width <= 700px){
    padding: 0 5rem;
  }

  &__topContent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  &__userCards{
    display: flex;
    gap: 3.2rem;
    flex-wrap: wrap;

    @media (width <= 700px){
      justify-content: center;
    }

    &-actions{
      display: flex;
      gap: 1.2rem;
    } 
  }
}